xsd4cdm/civilWar.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
   xmlns:mig="http://www.lib.washington.edu/msd/mig/schemas/dataDictionaries"
   xmlns:mig2="http://faculty.washington.edu/tgis/schemasProject/xsd4md"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
   <xs:element name="metadata">
      <xs:complexType>
         <xs:sequence>
            <xs:element ref="record" maxOccurs="unbounded"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="record">
      <xs:alternative type="s-recordType" test="@mode = 's'"/>
      <xs:alternative type="o-recordType" test="@mode = 'o'"/>
      <xs:alternative type="i-recordType" test="@mode = 'i'"/>
   </xs:element>
   <xs:complexType name="s-recordType">
      <xs:sequence>
         <xs:element name="Title" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Author" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Photographer" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DateEdtf" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Date" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Dates" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}(\s|,)*([0-9]{4})*)+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Notes" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="HistoricalNotes" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="SubjectsLCTGM" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="SubjectsLCSH" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Transcript" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="LocationDepicted" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DigitalCollection" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="OrderNumber" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NegativeNumber" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Repository" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RepositoryCollection" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ObjectType" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="PhysicalDescription" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DigitalReproductionInformation" minOccurs="0" maxOccurs="unbounded"
            type="xs:string"/>
         <xs:element name="StudioLocation" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="OriginalCreator" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="StudioName" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="PhotographersReferenceNumber" minOccurs="0" maxOccurs="unbounded"
            type="xs:string"/>
         <xs:element name="Contributor" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Acquisition" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="RightsUri" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:anyURI">
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Restrictions" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Type" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Collection"/>
                  <xs:enumeration value="Dataset"/>
                  <xs:enumeration value="Event"/>
                  <xs:enumeration value="Image"/>
                  <xs:enumeration value="InteractiveResource"/>
                  <xs:enumeration value="MovingImage"/>
                  <xs:enumeration value="PhysicalObject"/>
                  <xs:enumeration value="Service"/>
                  <xs:enumeration value="Software"/>
                  <xs:enumeration value="Sound"/>
                  <xs:enumeration value="StillImage"/>
                  <xs:enumeration value="Text"/>
                  <xs:enumeration value="text"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Edit" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Institution" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Cataloging" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="ItemURL" minOccurs="1" maxOccurs="unbounded" type="xs:anyURI"/>
         <xs:element name="oclcNumber" minOccurs="0" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:union>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="0"/>
                     </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                     <xs:restriction base="xs:integer"/>
                  </xs:simpleType>
               </xs:union>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dateCreated" minOccurs="1" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="dateModified" minOccurs="1" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="cdmnumber" minOccurs="1" maxOccurs="unbounded" type="xs:integer"/>
         <xs:element name="partOfCo" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="standaloneDeclaration" minOccurs="0" maxOccurs="unbounded"
            type="xs:string"/>
         <xs:element name="cdmfilename" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="coitems" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="cdmFilePath" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="mode" type="allowedModes"/>
   </xs:complexType>
   <xs:complexType name="o-recordType">
      <xs:sequence>
         <xs:element name="Title" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Author" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Photographer" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DateEdtf" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Date" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Dates" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:pattern value="([0-9]{4}(\s|,)*([0-9]{4})*)+"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Notes" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="HistoricalNotes" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="SubjectsLCTGM" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="SubjectsLCSH" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Transcript" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="LocationDepicted" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DigitalCollection" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="OrderNumber" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NegativeNumber" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Repository" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RepositoryCollection" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ObjectType" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="PhysicalDescription" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="DigitalReproductionInformation" minOccurs="0" maxOccurs="unbounded"
            type="xs:string"/>
         <xs:element name="StudioLocation" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="OriginalCreator" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="StudioName" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="PhotographersReferenceNumber" minOccurs="0" maxOccurs="unbounded"
            type="xs:string"/>
         <xs:element name="Contributor" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Acquisition" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="RightsUri" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:anyURI">
                  <xs:minLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Restrictions" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Type" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Collection"/>
                  <xs:enumeration value="Dataset"/>
                  <xs:enumeration value="Event"/>
                  <xs:enumeration value="Image"/>
                  <xs:enumeration value="InteractiveResource"/>
                  <xs:enumeration value="MovingImage"/>
                  <xs:enumeration value="PhysicalObject"/>
                  <xs:enumeration value="Service"/>
                  <xs:enumeration value="Software"/>
                  <xs:enumeration value="Sound"/>
                  <xs:enumeration value="StillImage"/>
                  <xs:enumeration value="Text"/>
                  <xs:enumeration value="text"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Edit" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Institution" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Cataloging" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="ItemURL" minOccurs="1" maxOccurs="unbounded" type="xs:anyURI"/>
         <xs:element name="oclcNumber" minOccurs="0" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:union>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="0"/>
                     </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                     <xs:restriction base="xs:integer"/>
                  </xs:simpleType>
               </xs:union>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dateCreated" minOccurs="1" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="dateModified" minOccurs="1" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="cdmnumber" minOccurs="1" maxOccurs="unbounded" type="xs:integer"/>
         <xs:element name="partOfCo" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="standaloneDeclaration" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="cdmfilename" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="coitems" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cdmnumberRef" type="xs:integer" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="cdmFilePath" minOccurs="1" maxOccurs="unbounded" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="mode" type="allowedModes"/>
   </xs:complexType>
   <xs:complexType name="i-recordType">
      <xs:sequence>
         <xs:element name="Title" minOccurs="1" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Author" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Photographer" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DateEdtf" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Date" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Dates" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Notes" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="HistoricalNotes" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SubjectsLCTGM" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="SubjectsLCSH" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Transcript" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="LocationDepicted" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DigitalCollection" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="OrderNumber" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="NegativeNumber" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Repository" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RepositoryCollection" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ObjectType" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="PhysicalDescription" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DigitalReproductionInformation" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="StudioLocation" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="OriginalCreator" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="StudioName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PhotographersReferenceNumber" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Contributor" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Acquisition" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="RightsUri" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Restrictions" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Type" minOccurs="0" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="Collection"/>
                  <xs:enumeration value="Dataset"/>
                  <xs:enumeration value="Event"/>
                  <xs:enumeration value="Image"/>
                  <xs:enumeration value="InteractiveResource"/>
                  <xs:enumeration value="MovingImage"/>
                  <xs:enumeration value="PhysicalObject"/>
                  <xs:enumeration value="Service"/>
                  <xs:enumeration value="Software"/>
                  <xs:enumeration value="Sound"/>
                  <xs:enumeration value="StillImage"/>
                  <xs:enumeration value="Text"/>
                  <xs:enumeration value="text"/>
                  <xs:enumeration value=""/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Edit" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="Institution" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="Cataloging" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="0"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="ItemURL" minOccurs="0" maxOccurs="unbounded" type="xs:anyURI"/>
         <xs:element name="oclcNumber" minOccurs="0" maxOccurs="unbounded">
            <xs:simpleType>
               <xs:union>
                  <xs:simpleType>
                     <xs:restriction base="xs:string">
                        <xs:length value="0"/>
                     </xs:restriction>
                  </xs:simpleType>
                  <xs:simpleType>
                     <xs:restriction base="xs:integer"/>
                  </xs:simpleType>
               </xs:union>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dateCreated" minOccurs="0" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="dateModified" minOccurs="0" maxOccurs="unbounded" type="xs:date"/>
         <xs:element name="cdmnumber" minOccurs="0" maxOccurs="unbounded" type="xs:integer"/>
         <xs:element name="partOfCo" minOccurs="1" maxOccurs="unbounded">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="cdmnumberCoRef" type="xs:integer"/>
                  <xs:element name="cdmfilenameRef" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="standaloneDeclaration" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="cdmfilename" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
         <xs:element name="coitems" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="cdmFilePath" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="mode" type="allowedModes"/>
   </xs:complexType>
   <xs:simpleType name="allowedModes">
      <xs:restriction base="xs:string">
         <xs:enumeration value="s"/>
         <xs:enumeration value="o"/>
         <xs:enumeration value="i"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
