xsd4md/schema-4-properties.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    targetNamespace="http://faculty.washington.edu/tgis/schemasProject/xsd4md"
    xmlns="http://faculty.washington.edu/tgis/schemasProject/xsd4md">

    <!-- vesion 0.2 2017-11-06 
         1 added new element uwRequired with subelements
         2 removed /cdm/uwRequired
         3 added attribute to /property/xsd: @level
         -->

    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>

    <xs:import namespace="http://www.w3.org/2001/XMLSchema"
        schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>

    <xs:annotation>
        <xs:documentation>Schema to validate properties used by UW Libraries.</xs:documentation>
    </xs:annotation>

    <xs:element name="property" type="propertyType"> </xs:element>

    <xs:complexType name="propertyType">
        <xs:sequence>
            <xs:element name="uid">
                <xs:annotation>
                    <xs:documentation>Property ID number; must be unique within properties-files; use a query to fetch existing property ID numbers before assigning</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:ID">
                        <xs:pattern value="p[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="labels" type="labelType"/>
            <xs:element name="uwRequired" type="uwRequiredType"/>
            <xs:element name="cdm" type="cdmType"/>
            <xs:element name="dspace" type="dspaceType"/>
            <xs:element name="descriptions" type="descriptionsType"/>
            <xs:element name="examples" type="examplesType"/>
            <xs:element name="additionalInfo" type="additionalInfoType"/>
            <xs:element name="marc" type="marcType"/>
            <xs:element name="xsd" type="xsdType"/>
            <xs:element name="rdf" type="rdfType"/>
            <xs:element name="history" type="historyType"/>
        </xs:sequence>
        <xs:attribute ref="xml:base"/>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:sequence>
            <xs:element name="platformIndependent" type="xs:string"/>
            <xs:element name="dc" type="dcterms"/>
            <xs:element name="dcNotEng" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="language"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uwRequiredType">
        <xs:sequence>
            <xs:element name="uwStandalone" type="yesNo"/>
            <xs:element name="uwObject" type="yesNo"/>
            <xs:element name="uwItem" type="yesNo"/>
            <xs:element name="uwCustom" type="uwCustomRequiredType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uwCustomRequiredType">
        <xs:simpleContent>
            <xs:extension base="yesNo">
                <xs:attribute name="co">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="no"/>
                            <xs:enumeration value="object"/>
                            <xs:enumeration value="item"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="dd" type="xs:string"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="cdmType">
        <xs:sequence>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="exportLabel" minOccurs="0" type="xs:string"/>
            <xs:element name="cdmDatatype" type="cdmDatatypeType"/>
            <xs:element name="cdmLarge" type="yesNo"/>
            <xs:element name="searchable" type="yesNo"/>
            <xs:element name="hidden" type="yesNo"/>
            <xs:element name="cdmRequired" type="yesNo"/>
            <xs:element name="cdmControlledVocab" type="yesNo"/>
        </xs:sequence>
    </xs:complexType>

    <!-- We'll want an enumeration of DSpace properties for use with the dspaceProperty element -->
    <xs:complexType name="dspaceType">
        <xs:sequence>
            <xs:element name="dspaceProperty" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="descriptionsType">
        <xs:sequence>
            <xs:element name="definition" type="paraType" maxOccurs="unbounded"/>
            <xs:element name="instructions" type="paraType4co" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element ref="customization" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="examplesType">
        <xs:sequence>
            <xs:element name="example" type="paraType4co" maxOccurs="unbounded"/>
            <xs:element ref="customization" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Note on "admin:"
     any info to help administer the metadata;
     inputting assistance goes in desciptions/instructions;
     further assistance "understanding" the metadata: "generalNotes"-->
    <xs:complexType name="additionalInfoType">
        <xs:sequence>
            <!-- Originally thought 2 elements needed in this sequence;
                 as work progressed, it seemed one was better;
                 recommended: do not use <admin>, use <generalNotes> ;
                 both will be retained to validate legacy data;
                 XSLTs should output both elements as if they were the same-->
            <xs:element name="admin" type="paraType4co" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="generalNotes" type="paraType4co" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="marcType">
        <xs:sequence>
            <xs:element name="dcgMarcMapping" type="dcgType"/>
            <xs:element name="dcgNotes" type="paraType" minOccurs="0"/>
            <xs:element name="marcNotes" type="paraType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dcgType">
        <xs:sequence>
            <xs:element name="field" type="xs:integer" minOccurs="0"/>
            <xs:element name="subfield" type="xs:string" minOccurs="0"/>
            <xs:element name="indicators" type="xs:integer" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="xsdType">
        <xs:sequence>
            <xs:element name="typeInfo" minOccurs="0" maxOccurs="unbounded" type="typeInfoType"/>
            <xs:element name="customTypeInfo" minOccurs="0" maxOccurs="unbounded"
                type="typeInfoType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="typeInfoType">
        <xs:sequence>
            <xs:element name="typeAttribute" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:QName">
                            <xs:attribute name="minOccurs" type="xs:integer"/>
                            <xs:attribute name="maxOccurs" type="xs:integer"/>
                            <xs:attribute name="fixed"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="simpleType" type="xs:localSimpleType" minOccurs="0"/>
            <xs:element name="complexType" type="xs:localComplexType" minOccurs="0"/>
            <xs:element name="empty" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="level">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="standalone"/>
                    <xs:enumeration value="object"/>
                    <xs:enumeration value="item"/>
                    <xs:enumeration value="standalone object"/>
                    <xs:enumeration value="standalone item"/>
                    <xs:enumeration value="object item"/>
                    <xs:enumeration value="standalone object item"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        <xs:attribute name="dd" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="simpleTypeType">
        <xs:sequence>
            <xs:element name="pattern" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rdfType">
        <xs:sequence minOccurs="0">
            <xs:element name="schemaInfo" type="schemaInfoType" minOccurs="0"/>
            <xs:element name="cdmRdf" type="cdmRdfType" minOccurs="0"/>
            <xs:element name="owlDatatypeProperty" type="yesNo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="schemaInfoType">
        <xs:sequence>
            <xs:element name="type" minOccurs="1" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="isDefinedBy" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="seeAlso" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="externalProperty" minOccurs="0" maxOccurs="unbounded"
                type="externalPropertyType"/>
            <xs:element name="localNote" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="cdmRdfType">
        <xs:sequence>
            <xs:element name="dpla" type="dplaType" minOccurs="0"/>
            <xs:element name="bibframe" type="bibframeType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="dplaType">
        <xs:sequence>
            <xs:element name="map" minOccurs="1" maxOccurs="unbounded">
                <!-- property in dpla map to which cdm property is mapped; multiple OK; if more than 1, additional must have @class -->
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="class" type="dplaClassType"/>
                            <xs:attribute ref="xml:lang"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="object">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="rdfObjectType">
                            <xs:attribute ref="xml:lang"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="class" type="dplaClassType" maxOccurs="unbounded"/>
            <xs:element name="process" type="xs:string" minOccurs="0"/>
            <xs:element name="condition" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="test" type="xs:string"/>
                        <xs:element name="p" type="xs:string"/>
                        <xs:element name="o" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="node" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="triple" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="p">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                  <xs:attribute ref="xml:lang"/>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                    <xs:element name="o">
                                        <xs:complexType>
                                            <xs:simpleContent>
                                                <xs:extension base="xs:string">
                                                  <xs:attribute name="lit" type="yesNo"/>
                                                  <xs:attribute name="node">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:string">
                                                  <xs:enumeration value="xml"/>
                                                  <xs:enumeration value="rdf"/>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                </xs:extension>
                                            </xs:simpleContent>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="dplaClassType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SourceResource"/>
            <xs:enumeration value="WebResource"/>
            <xs:enumeration value="Aggregation"/>
            <xs:enumeration value="Collection"/>
            <xs:enumeration value="Rights"/>
            <xs:enumeration value="Agent"/>
            <xs:enumeration value="uri"/>
            <xs:enumeration value="Literal"/>
            <!-- Is this class needed? -->
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="rdfObjectType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="uri"/>
            <xs:enumeration value="bnode"/>
            <xs:enumeration value="literal"/>
            <xs:enumeration value="none"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="bibframeType"/>

    <xs:complexType name="externalPropertyType">
        <xs:sequence>
            <xs:element name="uri">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="relation">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- Above: "relation" as a pseudo-triple: subject=local property, predicate=value of "relation," object=external property. -->
            <xs:element name="domain">
                <xs:simpleType>
                    <xs:union>
                        <xs:simpleType>
                            <xs:restriction base="xs:anyURI">
                                <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                            </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="undefined"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:element>
            <xs:element name="range">
                <xs:simpleType>
                    <xs:union>
                        <xs:simpleType>
                            <xs:restriction base="xs:anyURI">
                                <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                            </xs:restriction>
                        </xs:simpleType>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="undefined"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:union>
                </xs:simpleType>
            </xs:element>
            <xs:element name="equivalentProperty" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="inverseOf" minOccurs="0" maxOccurs="unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:anyURI">
                        <xs:pattern value="(http|https):\/\/[\w\W]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <!-- other relations of the external property can be added as needed -->
        </xs:sequence>
    </xs:complexType>
    <!-- below are the expected prefixes listed as elements:
            <xs:element name="dc"/>
            <xs:element name="dct" type="dcterms"/>
            <xs:element name="dpla"/>
            <xs:element name="edm"/>
            <xs:element name="foaf"/>
            <xs:element name="gn"/>
            <xs:element name="madsrdf"/>
            <xs:element name="owl"/>
            <xs:element name="rdf"/>
            <xs:element name="rdfs"/>
            <xs:element name="schema"/>
            <xs:element name="skos"/>
            <xs:element name="uwext"/>
            <xs:element name="uwp"/>
            <xs:element name="uwrecon"/>
            <xs:element name="void"/>
            <xs:element name="vra"/>
            <xs:element name="wao"/>
            <xs:element name="wgs84"/>
            <xs:element name="other"/>
            <xs:element name="rdfEmpty"/>
       -->

    <xs:complexType name="historyType">
        <xs:sequence>
            <xs:element name="dateCreated">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="single" type="xs:date"/>
                        <xs:element name="range">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="start" type="xs:date"/>
                                    <xs:element name="end" type="xs:date"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="created4Coll" type="xs:string"/>
            <!-- justification needs to be a type=para -->
            <xs:element name="justification" type="xs:string"/>
            <xs:element name="changeLog">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="change" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="date" type="xs:date"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="dcterms">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="abstract"/>
            <xs:enumeration value="accessRights"/>
            <xs:enumeration value="accrualMethod"/>
            <xs:enumeration value="accrualPeriodicity"/>
            <xs:enumeration value="accrualPolicy"/>
            <xs:enumeration value="alternative"/>
            <xs:enumeration value="audience"/>
            <xs:enumeration value="available"/>
            <xs:enumeration value="bibliographicCitation"/>
            <xs:enumeration value="conformsTo"/>
            <xs:enumeration value="contributor"/>
            <xs:enumeration value="coverage"/>
            <xs:enumeration value="created"/>
            <xs:enumeration value="creator"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="dateAccepted"/>
            <xs:enumeration value="dateCopyrighted"/>
            <xs:enumeration value="dateSubmitted"/>
            <xs:enumeration value="description"/>
            <xs:enumeration value="educationLevel"/>
            <xs:enumeration value="extent"/>
            <xs:enumeration value="format"/>
            <xs:enumeration value="hasFormat"/>
            <xs:enumeration value="hasPart"/>
            <xs:enumeration value="hasVersion"/>
            <xs:enumeration value="identifier"/>
            <xs:enumeration value="instructionalMethod"/>
            <xs:enumeration value="isFormatOf"/>
            <xs:enumeration value="isPartOf"/>
            <xs:enumeration value="isReferencedBy"/>
            <xs:enumeration value="isReplacedBy"/>
            <xs:enumeration value="isRequiredBy"/>
            <xs:enumeration value="issued"/>
            <xs:enumeration value="isVersionOf"/>
            <xs:enumeration value="language"/>
            <xs:enumeration value="license"/>
            <xs:enumeration value="mediator"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="modified"/>
            <xs:enumeration value="provenance"/>
            <xs:enumeration value="publisher"/>
            <xs:enumeration value="references"/>
            <xs:enumeration value="relation"/>
            <xs:enumeration value="replaces"/>
            <xs:enumeration value="requires"/>
            <xs:enumeration value="rights"/>
            <xs:enumeration value="rightsHolder"/>
            <xs:enumeration value="source"/>
            <xs:enumeration value="spatial"/>
            <xs:enumeration value="subject"/>
            <xs:enumeration value="tableOfContents"/>
            <xs:enumeration value="temporal"/>
            <xs:enumeration value="title"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="valid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="cdmDatatypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="fullText"/>
            <xs:enumeration value="cdmAdministrative"/>
            <xs:enumeration value="uwAdministrative"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yesNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="notApplicable"/>
            <xs:enumeration value="ifApplicable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="paraType">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="paraType4co">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="co" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="no"/>
                    <xs:enumeration value="object"/>
                    <xs:enumeration value="item"/>
                    <!-- the following 3 types of COs eliminated 2017-06-29;
                     we may want them for generalNotes however:
                    <xs:enumeration value="objectAndStandalone"/>
                    <xs:enumeration value="itemAndStandalone/"/>
                    <xs:enumeration value="coAll"/>-->
                    <xs:enumeration value="all"/>
                    <xs:enumeration value="agnostic"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>

    <!-- below global attribute does not seem necessary
    <xs:attribute name="co">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="no"/>
                <xs:enumeration value="object"/>
                <xs:enumeration value="item"/>
                <xs:enumeration value="coAll"/>
                <xs:enumeration value="all"/>
                <xs:enumeration value="agnostic"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    -->

    <xs:element name="customization" type="custParaType">
        <xs:annotation>
            <xs:documentation>The customization element uses 2 attributes, @co and @dd. The latter
                requires that the @dd code is known at the time the application profile is written.
                Sometimes that code is not known, resulting in use of a temp code; when the actual
                code is revealed, it must be entered in multiple locations to replace the temp code,
                thereby minimizing orthogonality of the system. This should be repaired</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="custParaType">
        
        <xs:complexContent>
            <xs:extension base="paraType4co">
                <xs:attribute name="dd" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="exPara"/>

</xs:schema>
