xsd4md/schema-4-dds-v0.2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:props="http://faculty.washington.edu/tgis/xml/xsd/modules/xsd4md/"
    targetNamespace="http://www.lib.washington.edu/msd/mig/schemas/dataDictionaries"
    xmlns="http://www.lib.washington.edu/msd/mig/schemas/dataDictionaries">

    <xs:import namespace="http://faculty.washington.edu/tgis/xml/xsd/modules/xsd4md/"
         schemaLocation="schema-4-properties-0.1.xsd"/>

    <!-- Note from TG, 2015-12-10: I attempted to make the default namespace
    http://www.lib.washington.edu/msd/mig/schemas/dataDictionaries
    but that made my references to global types unusable, I'm not sure why.
    This can be resolved at a future date; for no I've fallen back to noNamespace.
    -->
    
    <!--
       This schema needs mechanisms to map properties to RDF properties
       for use in producing an ontology;
       we will need a property to map to already existing web resources
       anther to map to a nonexistent property, or indicate that a search should be done
       and another when we establish a local web resource to serve as a property.
    -->

    <xs:annotation>
        <xs:documentation> This is a schema to validate MIG data dictionaries. The MIG data
            dictionaries were written to CONTENTdm collection configurations and metadata input. The
            official version of those data dictionaries are posted at
            http://www.lib.washington.edu/msd/pubcat/mig/datadicts. MIG maintains a source XML file
            for selected data dictionaries (as of 2015-12-10), which is an XML file that can be
            validated using this schema. </xs:documentation>
    </xs:annotation>

    <xs:element name="migDataDictionary" type="ddType"/>

    <xs:complexType name="ddType">
        <xs:sequence>
            <xs:element name="ddName"/>
            <xs:element name="ddPartOfProject"/>
            <xs:element name="latestUpdate"/>
            <xs:element name="metadataLiaisons">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="metadataLiaison" type="xs:string" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="cdmCo" type="props:yesNo"/>
            <!-- Element for recording whether or not CONTENTdm compound objects are permitted -->
            <xs:element name="standalone" type="props:yesNo"/>
            <!-- Element for recording whether or not CONTENTdm compound objects are permitted -->
            <!-- Needed to state whether standalone can co-exist with compound objects -->
            <xs:element name="properties">
                <!--all this below should be in the imported schema
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="property" type="propertyType" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>-->
            </xs:element>
        </xs:sequence>
        <xs:attribute name="year" type="xs:gYear"/>
        <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
    
<!--old propertyType and its dependencies can be found in schema-4-dds-v0.1-OrigAnnotatedVersion-->

<!--all below should be outdated:
      
    <xs:complexType name="propertyType">
        <xs:sequence>
            <xs:element name="labels" type="labelType"/>
            <xs:element name="cdm" type="cdmType"/>
            <xs:element name="descriptions" type="descriptionsType"/>
            <xs:element name="examples" type="examplesType"/>
            <xs:element name="additionalInfo" type="additionalInfoType"/>
            <xs:element name="marc" type="marcType"/>
            <xs:element name="xsd" type="xsdType"/>
            <xs:element name="rdf" type="rdfType"/>
            <xs:element name="history" type="historyType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="labelType">
        <xs:sequence>
            <xs:element name="cdmLabel" type="xs:string"/>
            <xs:element name="dc" type="dcterms"/>
            <xs:element name="schemaTitle" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="cdmType">
        <xs:sequence>
            <xs:element name="cdmDatatype" type="cdmDatatypeType"/>
            <xs:element name="cdmLarge" type="yesNo"/>
            <xs:element name="searchable" type="yesNo"/>
            <xs:element name="hidden" type="yesNo"/>
            <xs:element name="required" type="yesNo"/>
            <xs:element name="cdmControlledVocab" type="yesNo"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="descriptionsType">
        <xs:sequence>
            <xs:element name="description" type="paraType4co" maxOccurs="unbounded"/>
            <xs:element name="instructions" type="paraType4co"/>
            <xs:element ref="customization"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="examplesType">
        <xs:sequence>
            <xs:element name="example" type="paraType4co" maxOccurs="unbounded"/>
            <xs:element ref="customization"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="additionalInfoType">
        <xs:sequence>
            <xs:element name="admin" type="paraType" minOccurs="0"/>
            <xs:element name="generalNotes" type="paraType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="marcType">
        <xs:sequence>
            <xs:element name="dcgMarcMapping" type="xs:string"/>
            <xs:element name="marcNotes" type="paraType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="xsdType">
        <xs:sequence>
            <xs:element name="xsdDatatype" type="xs:anySimpleType"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="rdfType">
        <xs:sequence>
            <xs:element name="sameAs" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="historyType">
        <xs:sequence>
            <xs:element name="created4Coll" type="xs:string"/>
            <xs:element name="justification" type="xs:string"/>
            <xs:element name="changeLog" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="dcterms">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="abstract"/>
            <xs:enumeration value="accessRights"/>
            <xs:enumeration value="accrualMethod"/>
            <xs:enumeration value="accrualPeriodicity"/>
            <xs:enumeration value="accrualPolicy"/>
            <xs:enumeration value="alternative"/>
            <xs:enumeration value="audience"/>
            <xs:enumeration value="available"/>
            <xs:enumeration value="bibliographicCitation"/>
            <xs:enumeration value="conformsTo"/>
            <xs:enumeration value="contributor"/>
            <xs:enumeration value="coverage"/>
            <xs:enumeration value="created"/>
            <xs:enumeration value="creator"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="dateAccepted"/>
            <xs:enumeration value="dateCopyrighted"/>
            <xs:enumeration value="dateSubmitted"/>
            <xs:enumeration value="description"/>
            <xs:enumeration value="educationLevel"/>
            <xs:enumeration value="extent"/>
            <xs:enumeration value="format"/>
            <xs:enumeration value="hasFormat"/>
            <xs:enumeration value="hasPart"/>
            <xs:enumeration value="hasVersion"/>
            <xs:enumeration value="identifier"/>
            <xs:enumeration value="instructionalMethod"/>
            <xs:enumeration value="isFormatOf"/>
            <xs:enumeration value="isPartOf"/>
            <xs:enumeration value="isReferencedBy"/>
            <xs:enumeration value="isReplacedBy"/>
            <xs:enumeration value="isRequiredBy"/>
            <xs:enumeration value="issued"/>
            <xs:enumeration value="isVersionOf"/>
            <xs:enumeration value="language"/>
            <xs:enumeration value="license"/>
            <xs:enumeration value="mediator"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="modified"/>
            <xs:enumeration value="provenance"/>
            <xs:enumeration value="publisher"/>
            <xs:enumeration value="references"/>
            <xs:enumeration value="relation"/>
            <xs:enumeration value="replaces"/>
            <xs:enumeration value="requires"/>
            <xs:enumeration value="rights"/>
            <xs:enumeration value="rightsHolder"/>
            <xs:enumeration value="source"/>
            <xs:enumeration value="spatial"/>
            <xs:enumeration value="subject"/>
            <xs:enumeration value="tableOfContents"/>
            <xs:enumeration value="temporal"/>
            <xs:enumeration value="title"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="valid"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="cdmDatatypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="fullText"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="yesNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="paraType">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="paraType4co">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="co">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="no"/>
                    <xs:enumeration value="object"/>
                    <xs:enumeration value="item"/>
                    <xs:enumeration value="coAll"/>
                    <xs:enumeration value="all"/>
                    <xs:enumeration value="agnostic"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    
    <xs:attribute name="co">
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="no"/>
                <xs:enumeration value="object"/>
                <xs:enumeration value="item"/>
                <xs:enumeration value="coAll"/>
                <xs:enumeration value="all"/>
                <xs:enumeration value="agnostic"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:attribute>
    
    <xs:element name="customization" type="custParaType"/>
    
    <xs:complexType name="custParaType">
        <xs:complexContent>
            <xs:extension base="paraType4co">
                <xs:attribute name="dd" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="exPara"/>
   -->
</xs:schema>
