xsd/properties_files.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    targetNamespace="https://uwlib-mig.github.io/schemasProject/xsd/"
    xmlns="https://uwlib-mig.github.io/schemasProject/xsd/"
    elementFormDefault="qualified">
    
    <xs:annotation>
        <xs:documentation>2024-04-14</xs:documentation>
        <xs:documentation>properties-files data structures defined here** are currently used in properties-files-to-HTML MAP workflow.</xs:documentation>
        <xs:documentation>**With exceptions such as element 'dspace', 'uwCustom', etc.</xs:documentation>
    </xs:annotation>
    
    <!-- update to include online schemas once stable, use
    https://uwlib-mig.github.io/schemasProject/xsd/genre_form.xsd
    https://uwlib-mig.github.io/schemasProject/xsd/collection.xsd -->
    <xs:include schemaLocation="coll_alias.xsd"/>
    <xs:include schemaLocation="genre_form.xsd"/>
    <xs:include schemaLocation="properties_extensions.xsd"/>
    
    <xs:import namespace="http://www.w3.org/XML/1998/namespace"
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/XMLSchema"
        schemaLocation="https://www.w3.org/2001/XMLSchema.xsd"/>

    <xs:element name="property" type="propertyType"/> 

    <xs:complexType name="propertyType">
        <xs:sequence>
            <xs:element name="uid">
                <xs:simpleType>
                    <xs:restriction base="xs:ID">
                        <xs:pattern value="p[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="labels" type="labelType"/>
            <xs:element name="uwRequired" type="uwRequiredType"/>
            <xs:element name="cdm" type="cdmType"/>
            <xs:element name="dspace" type="dspaceType"/>
            <xs:element name="descriptions" type="descriptionsType"/>
            <xs:element name="examples" type="examplesType"/>
            <!-- for below types, see properties_extensions.xsd -->
            <xs:element name="additionalInfo" type="additionalInfoType"/>
            <xs:element name="marc" type="marcType"/>
            <xs:element name="xsd" type="xsdType"/>
            <xs:element name="rdf" type="rdfType"/>
            <xs:element name="history" type="historyType"/>            
        </xs:sequence>
        <xs:attribute ref="xml:base"/>
    </xs:complexType>

    <xs:complexType name="labelType">
        <xs:sequence>
            <xs:element name="platformIndependent" type="xs:string"/>
            <xs:element name="dc" type="dcterms"/>
            <xs:element name="dcNotEng" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="language"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uwRequiredType">
        <xs:sequence>
            <xs:element name="uwStandalone" type="yesNo"/>
            <xs:element name="uwObject" type="yesNo"/>
            <xs:element name="uwItem" type="yesNo"/>
            <xs:element name="uwCustom" type="uwCustomRequiredType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="uwCustomRequiredType">
        <xs:simpleContent>
            <xs:extension base="yesNo">
                <xs:attribute name="co">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="no"/>
                            <xs:enumeration value="object"/>
                            <xs:enumeration value="item"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="dd" type="dd_type"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    
    <xs:simpleType name="dd_type">
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:string"/>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="cdmType">
        <xs:sequence>
            <xs:element name="label" type="xs:string"/>
            <xs:element name="exportLabel" minOccurs="0" type="xs:string"/>
            <xs:element name="cdmDatatype" type="cdmDatatypeType"/>
            <xs:element name="cdmLarge" type="yesNo"/>
            <xs:element name="searchable" type="yesNo"/>
            <xs:element name="hidden" type="yesNo"/>
            <xs:element name="cdmRequired" type="yesNo"/>
            <xs:element name="cdmControlledVocab" type="yesNo"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:simpleType name="cdmDatatypeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="text"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="fullText"/>
            <!-- following are not options for CONTENTdm 'Data type' field configuration -->
            <xs:enumeration value="cdmAdministrative"/>
            <xs:enumeration value="uwAdministrative"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="yesNo">
        <xs:restriction base="xs:string">
            <xs:enumeration value="yes"/>
            <xs:enumeration value="no"/>
            <xs:enumeration value="notApplicable"/>
            <xs:enumeration value="ifApplicable"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="dspaceType">
        <xs:sequence>
            <xs:element name="dspaceProperty" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="descriptionsType">
        <xs:sequence>
            <xs:element name="definition" type="paraType" maxOccurs="unbounded"/>
            <xs:element name="instructions" type="default_para_type" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="customization" type="custom_para_type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="paraType">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="examplesType">
        <xs:sequence>
            <xs:element name="example" type="default_para_type" maxOccurs="unbounded"/>
            <xs:element name="customization" type="custom_para_type" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="dcterms">
        <xs:restriction base="xs:string">
            <xs:enumeration value="none"/>
            <xs:enumeration value="abstract"/>
            <xs:enumeration value="accessRights"/>
            <xs:enumeration value="accrualMethod"/>
            <xs:enumeration value="accrualPeriodicity"/>
            <xs:enumeration value="accrualPolicy"/>
            <xs:enumeration value="alternative"/>
            <xs:enumeration value="audience"/>
            <xs:enumeration value="available"/>
            <xs:enumeration value="bibliographicCitation"/>
            <xs:enumeration value="conformsTo"/>
            <xs:enumeration value="contributor"/>
            <xs:enumeration value="coverage"/>
            <xs:enumeration value="created"/>
            <xs:enumeration value="creator"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="dateAccepted"/>
            <xs:enumeration value="dateCopyrighted"/>
            <xs:enumeration value="dateSubmitted"/>
            <xs:enumeration value="description"/>
            <xs:enumeration value="educationLevel"/>
            <xs:enumeration value="extent"/>
            <xs:enumeration value="format"/>
            <xs:enumeration value="hasFormat"/>
            <xs:enumeration value="hasPart"/>
            <xs:enumeration value="hasVersion"/>
            <xs:enumeration value="identifier"/>
            <xs:enumeration value="instructionalMethod"/>
            <xs:enumeration value="isFormatOf"/>
            <xs:enumeration value="isPartOf"/>
            <xs:enumeration value="isReferencedBy"/>
            <xs:enumeration value="isReplacedBy"/>
            <xs:enumeration value="isRequiredBy"/>
            <xs:enumeration value="issued"/>
            <xs:enumeration value="isVersionOf"/>
            <xs:enumeration value="language"/>
            <xs:enumeration value="license"/>
            <xs:enumeration value="mediator"/>
            <xs:enumeration value="medium"/>
            <xs:enumeration value="modified"/>
            <xs:enumeration value="provenance"/>
            <xs:enumeration value="publisher"/>
            <xs:enumeration value="references"/>
            <xs:enumeration value="relation"/>
            <xs:enumeration value="replaces"/>
            <xs:enumeration value="requires"/>
            <xs:enumeration value="rights"/>
            <xs:enumeration value="rightsHolder"/>
            <xs:enumeration value="source"/>
            <xs:enumeration value="spatial"/>
            <xs:enumeration value="subject"/>
            <xs:enumeration value="tableOfContents"/>
            <xs:enumeration value="temporal"/>
            <xs:enumeration value="title"/>
            <xs:enumeration value="type"/>
            <xs:enumeration value="valid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="default_para_type">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="co" type="cdm_object_type_type" use="required"/>
    </xs:complexType>

    <xs:complexType name="custom_para_type">
        <xs:sequence>
            <xs:element name="para" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="dd" type="coll_alias_type"/>
        <xs:attribute name="co" type="cdm_object_type_type"/>
        <xs:attribute name="genre_form" type="genre_form_type"/>
    </xs:complexType>
    
    <xs:simpleType name="cdm_object_type_type">
        <xs:annotation>
            <xs:documentation>Use attributes of the type cdm_object_type_type to associate content with a particular kind of CONTENTdm object -- standalone item (sometimes also called standalone object), compound object, or compound-object item (that is, an item which is 'contained' in a compound object.</xs:documentation>
            <xs:documentation>Related: contentdm_maps/xsd/xml_map.xsd - map_structure_cdm_object_type_type</xs:documentation>
            <xs:documentation>Related: contentdm_maps/xsl/functions.xsl - xsl:function cdmm:convert_object_type_notation</xs:documentation>
        </xs:annotation>
        <xs:restriction>
            <xs:simpleType>
                <xs:list>
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="all"/>
                            <xs:enumeration value="no">
                                <xs:annotation>
                                    <xs:documentation>Use this value to indicate that content describes practices for standalone items.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="object">
                                <xs:annotation>
                                    <xs:documentation>Use this value to indicate that content describes practices for compound objects.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="item">
                                <xs:annotation>
                                    <xs:documentation>Use this value to indicate that content describes practices for compound-object items.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <!-- TO DO: eliminate use of 'agnostic', delete enumeration -->
                            <xs:enumeration value="agnostic">
                                <xs:annotation>
                                    <xs:documentation>Meaning/usage of 'agnostic' unclear.</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:list>
            </xs:simpleType>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
